<nav id="nav">
    <a href="/">
        <img src="/assets/images/logo-transparent.png" alt="">
    </a>
    <div id="header-box">
        <div id="upper-box">
            <h3>What is 4Chan Clone</h3>
            <button id="remove">X</button>
        </div>
        <div id="bottom-box">
            <p>

4chan Clone is a simple image-based bulletin board where anyone can post comments and share images. There are boards dedicated to a variety of topics, from Japanese animation and culture to videogames, music, and photography. Users do not need to register an account before participating in the community. Feel free to click on a board below that interests you and jump right in! <br> <br>

Be sure to familiarize yourself with the Rules before posting, and read the FAQ if you wish to learn more about how to use the site.
</p>
        </div>
    </div>
</nav>
<br>